<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem
            id="estate_main_menu"
            name="My Estate"
            sequence="1"
    />

    
              name="Property Interest Messages"
              parent="property_menu"
              action="action_property_interested_message"
              sequence="20"/>
</odoo>